

#beetle-steve{

    width:150px;
    height: 150px;
    position: absolute;
    -webkit-transition: all .4s ease-out;

}

#beetle-steve-image{
    width:150px;
    height: 150px;
}

.item{
    background-image: url("assets/pollutedPeakCloud.png");
    background-color: red; 
    width: 100px;
    height: 100px;
    position: absolute;
}

.enemy{
    width: 100px;
    height: 100px;
    left: 400px;
    top: 400px;
    position: relative;
    background-image: url("assets/pollutedPeakCloud.png");
    background-color: green;
}

.enemyImg{
    width: 100px;
    height: 100px;
    position: absolute;
    content: url("assets/squirrel.png");
}

.squirrel{
    position: absolute;

    animation: leftRight 11.7s infinite;
}

#squirrel2{
    top: 200px;
}

/* got from: https://codepen.io/frankDraws/pen/rxaPzQ */
@keyframes leftRight {
    0% {
      left: 0;
    }
    50% {
      left: 720px;
    }
    100% {
      left: 0;
    }
  }